body {
    font-family: sans-serif;
    background-color: gainsboro;
}
.jumbotron {
	color: white;
	background-image: url("http://i.imgur.com/PPq64Mv.png?1");
	background-size: cover;
	background-position: center;
	margin-bottom: 0px;
}
.thumb-height {
    min-height: 450px;
}