.navbar {
}
.jumbotron {
	color: white;
	background-image: url("https://photos.smugmug.com/Portfolio/Still/Destinations/Nepal/i-MMsxDvq/1/XL/Thurong%20Pano%201-Edit-XL.jpg");
	background-size: cover;
	background-position: center;
	margin-bottom: 0px;
}